git+https://github.com/postfiatorg/nodetools.git@async#egg=nodetools
numpy
pandas
sqlalchemy
cryptography
xrpl-py
requests
toml
nest_asyncio
brotli
sec-cik-mapper
psycopg2-binary
quandl
schedule
openai
lxml
gspread_dataframe
gspread
oauth2client
discord
anthropic
bs4
plotly
matplotlib
PyNaCl
loguru
fal-client
python-dotenv
