git+https://github.com/postfiatorg/nodetools.git@74490e14be5d18508cf9deae39c35589bf388a3f#egg=nodetools
requests
discord
loguru
fal-client
python-dotenv
boto3==1.35.95
pydantic==2.10.5
pexpect==4.9.0
